#band {
  min-height: 960px;
  background: #f1eeed url('../img/band-1.png') no-repeat;
  background-position: 20% bottom;
}

.contains-absolute-vertical {
  min-height: 960px;
}

.bandh1 {
  margin-top: 115px;
}

#band h2 {
  margin-top: 75px;
  margin-bottom: 60px;
}

#band p {
  padding-left: 55px;
}
