@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora-Regular';
  src: url('../fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora-Italic';
  src: url('../fonts/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora-Bold';
  src: url('../fonts/Lora-Bold.ttf') format('truetype');
}
